<% layout('layouts/boilerplate') %>
    <script>
        const coord1 = '11';
        const coord2 = '10';
        let campground = '';
    </script>
    <div class='row'>
        <h1 class='text-center pb-3'>Add Campground</h1>
        <div class='col-md-6 offset-3'>
            <form class="needsValidation" action="/campgrounds" method="post" novalidate enctype="multipart/form-data">

                <div class='mb-3'>
                    <label class='form-label' for="title">Title</label>
                    <input class='form-control' type="text" id="title" name='campground[title]' required>
                    <div class='invalid-feedback'>Campground must have a title.</div>
                    <div class='valid-feedback'>Looks good!</div>
                </div>

                <div class='mb-3'>
                    <label class='form-label' for="price">Campground Price</label>
                    <div class='input-group'>
                        <span class='input-group-text'>$</span>
                        <input class='form-control' type="text" id="price" name='campground[price]' placeholder="0.0"
                            required>
                        <div class='invalid-feedback'>Campground must have a price.</div>
                        <div class='valid-feedback'>Looks good!</div>
                    </div>
                </div>

                <div class='mb-3'>
                    <div id="map" style="width: 400px; height: 300px;"></div>
                    <label class='form-label' for="location">Location</label>
                    <input class='form-control' type="text" id="location" name='campground[location]' required>
                    <div class='invalid-feedback'>Campground location must be defined.</div>
                    <div class='valid-feedback'>Looks good!</div>
                </div>

                <div class='mb-3'>
                    <label class='form-label' for="image">Upload Images</label>
                    <input class='form-control bs-custom-file-input' type="file" id="image" name="image" multiple>
                    <div class='invalid-feedback'>Please upload campground images.</div>
                </div>

                <div class='mb-3'>
                    <label class='form-label' for="description">Description</label>
                    <textarea class='form-control' type="text" id="description" name='campground[description]'
                        required></textarea>
                    <div class='invalid-feedback'>Campground activities should be provided.</div>
                    <div class='valid-feedback'>Looks good!</div>
                </div>
                <div class='mb-3'>
                    <button class='btn btn-success w-auto mx-2'>Add Campground</button>
                    <button type='button' class='btn btn-dark w-auto mx-2'
                        onclick="window.location.href ='/campgrounds';">Back</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/renderMap.js"></script>